<html>
<head>
<title>TestNG:  Test</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>Test</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>20/7/0</td>
</tr><tr>
<td>Started on:</td><td>Tue Jul 04 12:08:30 IST 2023</td>
</tr>
<tr><td>Total time:</td><td>223 seconds (223031 ms)</td>
</tr><tr>
<td>Included groups:</td><td></td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-failed'>
<tr><td colspan='4' align='center'><b>FAILED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td><b>Attribute(s)</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.search_drugs()'><b>search_drugs</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td><div><pre>org.openqa.selenium.StaleElementReferenceException: stale element reference: element is not attached to the page document
  (Session info: chrome=111.0.5563.146)
For documentation on this error, please visit: https://selenium.dev/exceptions/#stale_element_reference
Build info: version: &apos;4.9.0&apos;, revision: &apos;d7057100a6&apos;
System info: os.name: &apos;Linux&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;5.14.0-1059-oem&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [cbf0a82334c975602a415522e5a611f1, getElementText {id=2e821161-3c71-4f5a-8bb5-018e8d51ade1}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 111.0.5563.146, chrome: {chromedriverVersion: 110.0.5481.77 (65ed616c6e8e..., userDataDir: /tmp/.com.google.Chrome.ri21go}, goog:chromeOptions: {debuggerAddress: localhost:46495}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: LINUX, proxy: Proxy(), se:cdp: ws://localhost:46495/devtoo..., se:cdpVersion: 111.0.5563.146, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Element: [[ChromeDriver: chrome on LINUX (cbf0a82334c975602a415522e5a611f1)] -&gt; xpath: //*[@class=&quot;search-result ng-scope&quot;]/div/a]
Session ID: cbf0a82334c975602a415522e5a611f1
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:257)
	at org.openqa.selenium.remote.RemoteWebElement.getText(RemoteWebElement.java:207)
	at com.demo.actions.web.Prescription.add_searched_drug(Prescription.java:226)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.search_drugs(WebAppointmentPrescriptionPageTest.java:35)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
... Removed 32 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace162114152", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace162114152'><pre>org.openqa.selenium.StaleElementReferenceException: stale element reference: element is not attached to the page document
  (Session info: chrome=111.0.5563.146)
For documentation on this error, please visit: https://selenium.dev/exceptions/#stale_element_reference
Build info: version: &apos;4.9.0&apos;, revision: &apos;d7057100a6&apos;
System info: os.name: &apos;Linux&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;5.14.0-1059-oem&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [cbf0a82334c975602a415522e5a611f1, getElementText {id=2e821161-3c71-4f5a-8bb5-018e8d51ade1}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 111.0.5563.146, chrome: {chromedriverVersion: 110.0.5481.77 (65ed616c6e8e..., userDataDir: /tmp/.com.google.Chrome.ri21go}, goog:chromeOptions: {debuggerAddress: localhost:46495}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: LINUX, proxy: Proxy(), se:cdp: ws://localhost:46495/devtoo..., se:cdpVersion: 111.0.5563.146, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Element: [[ChromeDriver: chrome on LINUX (cbf0a82334c975602a415522e5a611f1)] -&gt; xpath: //*[@class=&quot;search-result ng-scope&quot;]/div/a]
Session ID: cbf0a82334c975602a415522e5a611f1
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:499)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:480)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:257)
	at org.openqa.selenium.remote.RemoteWebElement.getText(RemoteWebElement.java:207)
	at com.demo.actions.web.Prescription.add_searched_drug(Prescription.java:226)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.search_drugs(WebAppointmentPrescriptionPageTest.java:35)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.invokers.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:139)
	at org.testng.internal.invokers.TestInvoker.invokeMethod(TestInvoker.java:677)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethod(TestInvoker.java:221)
	at org.testng.internal.invokers.MethodRunner.runInSequence(MethodRunner.java:50)
	at org.testng.internal.invokers.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:969)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethods(TestInvoker.java:194)
	at org.testng.internal.invokers.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:148)
	at org.testng.internal.invokers.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
	at org.testng.TestRunner.privateRun(TestRunner.java:829)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:437)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:431)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:391)
	at org.testng.SuiteRunner.run(SuiteRunner.java:330)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:95)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1256)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1176)
	at org.testng.TestNG.runSuites(TestNG.java:1099)
	at org.testng.TestNG.run(TestNG.java:1067)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_20_popular_drugs()'><b>verify_20_popular_drugs</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td><div><pre>java.lang.AssertionError: expected [true] but found [false]
	at com.demo.actions.web.Prescription.verify_added_popular_drug(Prescription.java:185)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_20_popular_drugs(WebAppointmentPrescriptionPageTest.java:27)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
... Removed 31 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace1169933615", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace1169933615'><pre>java.lang.AssertionError: expected [true] but found [false]
	at org.testng.Assert.fail(Assert.java:110)
	at org.testng.Assert.failNotEquals(Assert.java:1577)
	at org.testng.Assert.assertTrue(Assert.java:56)
	at org.testng.Assert.assertTrue(Assert.java:66)
	at com.demo.actions.web.Prescription.verify_added_popular_drug(Prescription.java:185)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_20_popular_drugs(WebAppointmentPrescriptionPageTest.java:27)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.invokers.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:139)
	at org.testng.internal.invokers.TestInvoker.invokeMethod(TestInvoker.java:677)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethod(TestInvoker.java:221)
	at org.testng.internal.invokers.MethodRunner.runInSequence(MethodRunner.java:50)
	at org.testng.internal.invokers.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:969)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethods(TestInvoker.java:194)
	at org.testng.internal.invokers.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:148)
	at org.testng.internal.invokers.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
	at org.testng.TestRunner.privateRun(TestRunner.java:829)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:437)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:431)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:391)
	at org.testng.SuiteRunner.run(SuiteRunner.java:330)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:95)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1256)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1176)
	at org.testng.TestNG.runSuites(TestNG.java:1099)
	at org.testng.TestNG.run(TestNG.java:1067)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>2</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_same_drug_cannot_be_added_twice()'><b>verify_same_drug_cannot_be_added_twice</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td><div><pre>org.openqa.selenium.NoSuchElementException: no such element: Unable to locate element: {&quot;method&quot;:&quot;xpath&quot;,&quot;selector&quot;:&quot;/html/body/md-toast&quot;}
  (Session info: chrome=111.0.5563.146)
For documentation on this error, please visit: https://selenium.dev/exceptions/#no_such_element
Build info: version: &apos;4.9.0&apos;, revision: &apos;d7057100a6&apos;
System info: os.name: &apos;Linux&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;5.14.0-1059-oem&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [cbf0a82334c975602a415522e5a611f1, findElement {using=xpath, value=/html/body/md-toast}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 111.0.5563.146, chrome: {chromedriverVersion: 110.0.5481.77 (65ed616c6e8e..., userDataDir: /tmp/.com.google.Chrome.ri21go}, goog:chromeOptions: {debuggerAddress: localhost:46495}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: LINUX, proxy: Proxy(), se:cdp: ws://localhost:46495/devtoo..., se:cdpVersion: 111.0.5563.146, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: cbf0a82334c975602a415522e5a611f1
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.ElementLocation$ElementFinder$2.findElement(ElementLocation.java:162)
	at org.openqa.selenium.remote.ElementLocation.findElement(ElementLocation.java:60)
	at org.openqa.selenium.remote.RemoteWebDriver.findElement(RemoteWebDriver.java:352)
	at org.openqa.selenium.remote.RemoteWebDriver.findElement(RemoteWebDriver.java:344)
	at org.openqa.selenium.support.pagefactory.DefaultElementLocator.findElement(DefaultElementLocator.java:70)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:39)
	at jdk.proxy2/jdk.proxy2.$Proxy17.getText(Unknown Source)
	at com.demo.actions.web.Prescription.verify_same_drug_cannot_be_added_twice(Prescription.java:460)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_same_drug_cannot_be_added_twice(WebAppointmentPrescriptionPageTest.java:68)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
... Removed 32 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace539058198", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace539058198'><pre>org.openqa.selenium.NoSuchElementException: no such element: Unable to locate element: {&quot;method&quot;:&quot;xpath&quot;,&quot;selector&quot;:&quot;/html/body/md-toast&quot;}
  (Session info: chrome=111.0.5563.146)
For documentation on this error, please visit: https://selenium.dev/exceptions/#no_such_element
Build info: version: &apos;4.9.0&apos;, revision: &apos;d7057100a6&apos;
System info: os.name: &apos;Linux&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;5.14.0-1059-oem&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [cbf0a82334c975602a415522e5a611f1, findElement {using=xpath, value=/html/body/md-toast}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 111.0.5563.146, chrome: {chromedriverVersion: 110.0.5481.77 (65ed616c6e8e..., userDataDir: /tmp/.com.google.Chrome.ri21go}, goog:chromeOptions: {debuggerAddress: localhost:46495}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: LINUX, proxy: Proxy(), se:cdp: ws://localhost:46495/devtoo..., se:cdpVersion: 111.0.5563.146, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: cbf0a82334c975602a415522e5a611f1
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:499)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:480)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.ElementLocation$ElementFinder$2.findElement(ElementLocation.java:162)
	at org.openqa.selenium.remote.ElementLocation.findElement(ElementLocation.java:60)
	at org.openqa.selenium.remote.RemoteWebDriver.findElement(RemoteWebDriver.java:352)
	at org.openqa.selenium.remote.RemoteWebDriver.findElement(RemoteWebDriver.java:344)
	at org.openqa.selenium.support.pagefactory.DefaultElementLocator.findElement(DefaultElementLocator.java:70)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:39)
	at jdk.proxy2/jdk.proxy2.$Proxy17.getText(Unknown Source)
	at com.demo.actions.web.Prescription.verify_same_drug_cannot_be_added_twice(Prescription.java:460)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_same_drug_cannot_be_added_twice(WebAppointmentPrescriptionPageTest.java:68)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.invokers.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:139)
	at org.testng.internal.invokers.TestInvoker.invokeMethod(TestInvoker.java:677)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethod(TestInvoker.java:221)
	at org.testng.internal.invokers.MethodRunner.runInSequence(MethodRunner.java:50)
	at org.testng.internal.invokers.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:969)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethods(TestInvoker.java:194)
	at org.testng.internal.invokers.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:148)
	at org.testng.internal.invokers.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
	at org.testng.TestRunner.privateRun(TestRunner.java:829)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:437)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:431)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:391)
	at org.testng.SuiteRunner.run(SuiteRunner.java:330)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:95)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1256)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1176)
	at org.testng.TestNG.runSuites(TestNG.java:1099)
	at org.testng.TestNG.run(TestNG.java:1067)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>20</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_record_is_printed()'><b>verify_record_is_printed</b><br>Test class: com.demo.testcases.web.WebAppointmentSummaryPageTest</td>
<td><div><pre>java.util.NoSuchElementException
	at java.base/java.util.LinkedHashMap$LinkedHashIterator.nextNode(LinkedHashMap.java:758)
	at java.base/java.util.LinkedHashMap$LinkedKeyIterator.next(LinkedHashMap.java:778)
	at com.demo.actions.web.SummaryPage.verify_record_can_be_printed(SummaryPage.java:230)
	at com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_record_is_printed(WebAppointmentSummaryPageTest.java:43)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
... Removed 27 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace920603686", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace920603686'><pre>java.util.NoSuchElementException
	at java.base/java.util.LinkedHashMap$LinkedHashIterator.nextNode(LinkedHashMap.java:758)
	at java.base/java.util.LinkedHashMap$LinkedKeyIterator.next(LinkedHashMap.java:778)
	at com.demo.actions.web.SummaryPage.verify_record_can_be_printed(SummaryPage.java:230)
	at com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_record_is_printed(WebAppointmentSummaryPageTest.java:43)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.invokers.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:139)
	at org.testng.internal.invokers.TestInvoker.invokeMethod(TestInvoker.java:677)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethod(TestInvoker.java:221)
	at org.testng.internal.invokers.MethodRunner.runInSequence(MethodRunner.java:50)
	at org.testng.internal.invokers.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:969)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethods(TestInvoker.java:194)
	at org.testng.internal.invokers.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:148)
	at org.testng.internal.invokers.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
	at org.testng.TestRunner.privateRun(TestRunner.java:829)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:437)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:431)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:391)
	at org.testng.SuiteRunner.run(SuiteRunner.java:330)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:95)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1256)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1176)
	at org.testng.TestNG.runSuites(TestNG.java:1099)
	at org.testng.TestNG.run(TestNG.java:1067)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>2</td>
<td>com.demo.testcases.web.WebAppointmentSummaryPageTest@39fcbef6</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.add_new_drug_form_details()'><b>add_new_drug_form_details</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td><div><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;a href=&quot;javascript:void(0);&quot; class=&quot;btn btn-blue&quot; ng-click=&quot;vm.addDrugToDirectory($event)&quot; ng-disabled=&quot;!(vm.currentUser.role_name == &apos;Doctor&apos; || (vm.currentUser.role_name == &apos;Nurse&apos; &amp;amp;&amp;amp; vm.currentUser.permissions.indexOf(&apos;Prescription&apos;) !== -1))&quot;&gt;...&lt;/a&gt; is not clickable at point (584, 15). Other element would receive the click: &lt;header class=&quot;clearfix&quot;&gt;...&lt;/header&gt;
  (Session info: chrome=111.0.5563.146)
Build info: version: &apos;4.9.0&apos;, revision: &apos;d7057100a6&apos;
System info: os.name: &apos;Linux&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;5.14.0-1059-oem&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [cbf0a82334c975602a415522e5a611f1, clickElement {id=1a796887-09ff-43c1-a118-c716f5f84a5e}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 111.0.5563.146, chrome: {chromedriverVersion: 110.0.5481.77 (65ed616c6e8e..., userDataDir: /tmp/.com.google.Chrome.ri21go}, goog:chromeOptions: {debuggerAddress: localhost:46495}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: LINUX, proxy: Proxy(), se:cdp: ws://localhost:46495/devtoo..., se:cdpVersion: 111.0.5563.146, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Element: [[ChromeDriver: chrome on LINUX (cbf0a82334c975602a415522e5a611f1)] -&gt; xpath: //*[@class=&quot;btn btn-blue&quot;]]
Session ID: cbf0a82334c975602a415522e5a611f1
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:257)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:78)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:52)
	at jdk.proxy2/jdk.proxy2.$Proxy17.click(Unknown Source)
	at com.demo.utilities.WebUtilities.click(WebUtilities.java:19)
	at com.demo.actions.web.Prescription.click_on_add_new_drug_btn(Prescription.java:271)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.add_new_drug_form_details(WebAppointmentPrescriptionPageTest.java:42)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
... Removed 36 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace674935302", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace674935302'><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;a href=&quot;javascript:void(0);&quot; class=&quot;btn btn-blue&quot; ng-click=&quot;vm.addDrugToDirectory($event)&quot; ng-disabled=&quot;!(vm.currentUser.role_name == &apos;Doctor&apos; || (vm.currentUser.role_name == &apos;Nurse&apos; &amp;amp;&amp;amp; vm.currentUser.permissions.indexOf(&apos;Prescription&apos;) !== -1))&quot;&gt;...&lt;/a&gt; is not clickable at point (584, 15). Other element would receive the click: &lt;header class=&quot;clearfix&quot;&gt;...&lt;/header&gt;
  (Session info: chrome=111.0.5563.146)
Build info: version: &apos;4.9.0&apos;, revision: &apos;d7057100a6&apos;
System info: os.name: &apos;Linux&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;5.14.0-1059-oem&apos;, java.version: &apos;17.0.5&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Command: [cbf0a82334c975602a415522e5a611f1, clickElement {id=1a796887-09ff-43c1-a118-c716f5f84a5e}]
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 111.0.5563.146, chrome: {chromedriverVersion: 110.0.5481.77 (65ed616c6e8e..., userDataDir: /tmp/.com.google.Chrome.ri21go}, goog:chromeOptions: {debuggerAddress: localhost:46495}, networkConnectionEnabled: false, pageLoadStrategy: normal, platformName: LINUX, proxy: Proxy(), se:cdp: ws://localhost:46495/devtoo..., se:cdpVersion: 111.0.5563.146, setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Element: [[ChromeDriver: chrome on LINUX (cbf0a82334c975602a415522e5a611f1)] -&gt; xpath: //*[@class=&quot;btn btn-blue&quot;]]
Session ID: cbf0a82334c975602a415522e5a611f1
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:499)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:480)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:200)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:133)
	at org.openqa.selenium.remote.codec.w3c.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:53)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:193)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.invokeExecute(DriverCommandExecutor.java:183)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:257)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:78)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:52)
	at jdk.proxy2/jdk.proxy2.$Proxy17.click(Unknown Source)
	at com.demo.utilities.WebUtilities.click(WebUtilities.java:19)
	at com.demo.actions.web.Prescription.click_on_add_new_drug_btn(Prescription.java:271)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.add_new_drug_form_details(WebAppointmentPrescriptionPageTest.java:42)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.invokers.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:139)
	at org.testng.internal.invokers.TestInvoker.invokeMethod(TestInvoker.java:677)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethod(TestInvoker.java:221)
	at org.testng.internal.invokers.MethodRunner.runInSequence(MethodRunner.java:50)
	at org.testng.internal.invokers.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:969)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethods(TestInvoker.java:194)
	at org.testng.internal.invokers.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:148)
	at org.testng.internal.invokers.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
	at org.testng.TestRunner.privateRun(TestRunner.java:829)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:437)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:431)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:391)
	at org.testng.SuiteRunner.run(SuiteRunner.java:330)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:95)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1256)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1176)
	at org.testng.TestNG.runSuites(TestNG.java:1099)
	at org.testng.TestNG.run(TestNG.java:1067)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>1</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_created_drug_is_added()'><b>verify_created_drug_is_added</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td><div><pre>java.lang.AssertionError: expected [true] but found [false]
	at com.demo.actions.web.Prescription.verify_created_drug_added(Prescription.java:396)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_created_drug_is_added(WebAppointmentPrescriptionPageTest.java:55)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
... Removed 31 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace715504968", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace715504968'><pre>java.lang.AssertionError: expected [true] but found [false]
	at org.testng.Assert.fail(Assert.java:110)
	at org.testng.Assert.failNotEquals(Assert.java:1577)
	at org.testng.Assert.assertTrue(Assert.java:56)
	at org.testng.Assert.assertTrue(Assert.java:66)
	at com.demo.actions.web.Prescription.verify_created_drug_added(Prescription.java:396)
	at com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_created_drug_is_added(WebAppointmentPrescriptionPageTest.java:55)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.invokers.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:139)
	at org.testng.internal.invokers.TestInvoker.invokeMethod(TestInvoker.java:677)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethod(TestInvoker.java:221)
	at org.testng.internal.invokers.MethodRunner.runInSequence(MethodRunner.java:50)
	at org.testng.internal.invokers.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:969)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethods(TestInvoker.java:194)
	at org.testng.internal.invokers.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:148)
	at org.testng.internal.invokers.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
	at org.testng.TestRunner.privateRun(TestRunner.java:829)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:437)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:431)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:391)
	at org.testng.SuiteRunner.run(SuiteRunner.java:330)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:95)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1256)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1176)
	at org.testng.TestNG.runSuites(TestNG.java:1099)
	at org.testng.TestNG.run(TestNG.java:1067)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>5</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_record_is_saved()'><b>verify_record_is_saved</b><br>Test class: com.demo.testcases.web.WebAppointmentSummaryPageTest</td>
<td><div><pre>java.lang.AssertionError: expected [true] but found [false]
	at com.demo.actions.web.SummaryPage.verify_record_is_saved(SummaryPage.java:187)
	at com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_record_is_saved(WebAppointmentSummaryPageTest.java:37)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
... Removed 31 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace34737133", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace34737133'><pre>java.lang.AssertionError: expected [true] but found [false]
	at org.testng.Assert.fail(Assert.java:110)
	at org.testng.Assert.failNotEquals(Assert.java:1577)
	at org.testng.Assert.assertTrue(Assert.java:56)
	at org.testng.Assert.assertTrue(Assert.java:66)
	at com.demo.actions.web.SummaryPage.verify_record_is_saved(SummaryPage.java:187)
	at com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_record_is_saved(WebAppointmentSummaryPageTest.java:37)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.testng.internal.invokers.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:139)
	at org.testng.internal.invokers.TestInvoker.invokeMethod(TestInvoker.java:677)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethod(TestInvoker.java:221)
	at org.testng.internal.invokers.MethodRunner.runInSequence(MethodRunner.java:50)
	at org.testng.internal.invokers.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:969)
	at org.testng.internal.invokers.TestInvoker.invokeTestMethods(TestInvoker.java:194)
	at org.testng.internal.invokers.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:148)
	at org.testng.internal.invokers.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1511)
	at org.testng.TestRunner.privateRun(TestRunner.java:829)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:437)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:431)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:391)
	at org.testng.SuiteRunner.run(SuiteRunner.java:330)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:95)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1256)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1176)
	at org.testng.TestNG.runSuites(TestNG.java:1099)
	at org.testng.TestNG.run(TestNG.java:1067)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>1</td>
<td>com.demo.testcases.web.WebAppointmentSummaryPageTest@39fcbef6</td></tr>
</table><p>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td><b>Attribute(s)</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.verify_booked_slot()'><b>verify_booked_slot</b><br>Test class: com.demo.testcases.web.WebAppointmentTest<br>Test method: Verify that doctor shouldn't able to create appointment in the already booked appointment slot.</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentInstructionsPageTest.create_new_test_inst_procedure()'><b>create_new_test_inst_procedure</b><br>Test class: com.demo.testcases.web.WebAppointmentInstructionsPageTest</td>
<td></td>
<td>1</td>
<td>com.demo.testcases.web.WebAppointmentInstructionsPageTest@623e088f</td></tr>
<tr>
<td title='com.demo.testcases.web.WebLoginTest.login()'><b>login</b><br>Test class: com.demo.testcases.web.WebLoginTest</td>
<td></td>
<td>12</td>
<td>com.demo.testcases.web.WebLoginTest@222eb8aa</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.appointment_for_existing_patient()'><b>appointment_for_existing_patient</b><br>Test class: com.demo.testcases.web.WebAppointmentTest<br>Test method: Verify doctor's should be able to create appointment for the available appointment slot.</td>
<td></td>
<td>3</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.diagnosis_tab_verify_added_cfd()'><b>diagnosis_tab_verify_added_cfd</b><br>Test class: com.demo.testcases.web.WebAppointmentTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_drug()'><b>verify_drug</b><br>Test class: com.demo.testcases.web.WebAppointmentSummaryPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentSummaryPageTest@39fcbef6</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.verify_20_popular_diagnosis()'><b>verify_20_popular_diagnosis</b><br>Test class: com.demo.testcases.web.WebAppointmentTest</td>
<td></td>
<td>9</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentSummaryPageTest.verify_dagnosis()'><b>verify_dagnosis</b><br>Test class: com.demo.testcases.web.WebAppointmentSummaryPageTest</td>
<td></td>
<td>10</td>
<td>com.demo.testcases.web.WebAppointmentSummaryPageTest@39fcbef6</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.prescription_tab()'><b>prescription_tab</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentInstructionsPageTest.instructions_tab()'><b>instructions_tab</b><br>Test class: com.demo.testcases.web.WebAppointmentInstructionsPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentInstructionsPageTest@623e088f</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentSummaryPageTest.summary_tab()'><b>summary_tab</b><br>Test class: com.demo.testcases.web.WebAppointmentSummaryPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentSummaryPageTest@39fcbef6</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.add_popular_diagnosis()'><b>add_popular_diagnosis</b><br>Test class: com.demo.testcases.web.WebAppointmentTest</td>
<td></td>
<td>1</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentInstructionsPageTest.search_test()'><b>search_test</b><br>Test class: com.demo.testcases.web.WebAppointmentInstructionsPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentInstructionsPageTest@623e088f</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.diagnosis_tab_add_cfd()'><b>diagnosis_tab_add_cfd</b><br>Test class: com.demo.testcases.web.WebAppointmentTest</td>
<td></td>
<td>1</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.verify_delete_icon_for_added_drugs()'><b>verify_delete_icon_for_added_drugs</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.verify_disabled_slot()'><b>verify_disabled_slot</b><br>Test class: com.demo.testcases.web.WebAppointmentTest<br>Test method: Verify if appointment slot is expired slot should be disable for appointment creation & doctor shouldn't able to create appointment for the same expired slot .</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentPrescriptionPageTest.delete_all_added_drugs()'><b>delete_all_added_drugs</b><br>Test class: com.demo.testcases.web.WebAppointmentPrescriptionPageTest</td>
<td></td>
<td>136</td>
<td>com.demo.testcases.web.WebAppointmentPrescriptionPageTest@7cf6a5f9</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentInstructionsPageTest.search_instruction()'><b>search_instruction</b><br>Test class: com.demo.testcases.web.WebAppointmentInstructionsPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentInstructionsPageTest@623e088f</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentTest.open_created_appointment()'><b>open_created_appointment</b><br>Test class: com.demo.testcases.web.WebAppointmentTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentTest@eda25e5</td></tr>
<tr>
<td title='com.demo.testcases.web.WebAppointmentInstructionsPageTest.search_procedure()'><b>search_procedure</b><br>Test class: com.demo.testcases.web.WebAppointmentInstructionsPageTest</td>
<td></td>
<td>0</td>
<td>com.demo.testcases.web.WebAppointmentInstructionsPageTest@623e088f</td></tr>
</table><p>
</body>
</html>